/** Цвета блоков **/
/* Цвет дефолта */
$color-bg-default: #ffffff;
/* Цвет фона подвала */
$color-bg-footer: #f0f2f3;
/* Цвет фона действия */
$color-bg-action: #ffcc00;
/* Цвет фона контрола */
$color-bg-control: #e6e6e6;
/* Цвет границ */
$color-bg-border: #d9d9d9;
/* Цвет границ в фокусе*/
$color-border-focused: #b3b3b3;
/* Цвет успеха */
$color-bg-success: #00b341;
/* Цвет ошибки */
$color-bg-alert: #ff3333;
/* Цвет нестабильности */
$color-bg-warning: #ff9a00;

/** Цвета текста **/
/* Цвет основого */
$text-color-primary: #000000;
/* Цвет второстепенного */
$text-color-secondary: #7f8285;
/* Цвет дополнительного */
$text-color-ghost: #434445;
/* Цвет ошибки */
$text-color-alert: #ff3333;

/** Цвета ссылок **/
/* Цвет основной ссылки */
$text-color-link: #7f8285;
/* Цвет ховера ссылки */
$text-color-link-hover: #e00000;

/* Размер текста */
$size-text-xxs: 8px;
$size-text-xs: 10px;
$size-text-s: 11px;
$size-text-m: 13px;
$size-text-l: 15px;
$size-text-xl: 16px;
$size-text-xxl: 18px;
$size-text-xxxl: 24px;

/* Межстрочный интервал */
$size-line-height-xxxxs: 15px;
$size-line-height-xxxs: 16px;
$size-line-height-xxs: 18px;
$size-line-height-xs: 20px;
$size-line-height-s: 21px;
$size-line-height-m: 22px;
$size-line-height-l: 25px;
$size-line-height-xl: 28px;
$size-line-height-xxl: 30px;
$size-line-height-xxxl: 34px;
$size-line-height-xxxxl: 36px;
$size-line-height-xxxxxl: 38px;

/*  Базовые отступы */
$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 40px;
$space-xxxxl: 48px;
$space-xxxxxl: 72px;
$space-xxxxxxl: 96px;


/* Экраны */
$screen-m: 824px;
$screen-xs: 320px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.theme {
    --screen-m: $screen-m;
    --screen-xs: $screen-xs;

    &_color {
        &_project-default {
            --color-bg-default: $color-bg-default;
            --color-bg-footer: $color-bg-footer;
            --color-bg-action: $color-bg-action;
            --color-bg-control: $color-bg-control;
            --color-bg-border: $color-bg-border;
            --color-border-focused: $color-border-focused;
            --color-bg-success: $color-bg-success;
            --color-bg-alert: $color-bg-alert;
            --color-bg-warning: $color-bg-warning;

            --text-color-primary: $text-color-primary;
            --text-color-secondary: $text-color-secondary;
            --text-color-ghost: $text-color-ghost;
            --text-color-alert: $text-color-alert;

            --text-color-link: $text-color-link;
            --text-color-link-hover: $text-color-link-hover;
        }
    }

    &_size {
        &_default {
            --size-text-xxs: $size-text-xxs;
            --size-text-xs: $size-text-xs;
            --size-text-s: $size-text-s;
            --size-text-m: $size-text-m;
            --size-text-l: $size-text-l;
            --size-text-xl: $size-text-xl;
            --size-text-xxl: $size-text-xxl;
            --size-text-xxxl: $size-text-xxxl;

            --size-line-height-xxxxs: $size-line-height-xxxxs;
            --size-line-height-xxxs: $size-line-height-xxxs;
            --size-line-height-xxs: $size-line-height-xxs;
            --size-line-height-xs: $size-line-height-xs;
            --size-line-height-s: $size-line-height-s;
            --size-line-height-m: $size-line-height-m;
            --size-line-height-l: $size-line-height-l;
            --size-line-height-xl: $size-line-height-xl;
            --size-line-height-xxl: $size-line-height-xxl;
            --size-line-height-xxxl: $size-line-height-xxxl;
            --size-line-height-xxxxl: $size-line-height-xxxxl;
            --size-line-height-xxxxxl: $size-line-height-xxxxxl;
        }
    }

    &_space {
        &_default {
            --space-xxxs: $space-xxxs;
            --space-xxs: $space-xxs;
            --space-xxs: $space-xxs;
            --space-xs: $space-xs;
            --space-s: $space-s;
            --space-m: $space-m;
            --space-l: $space-l;
            --space-xl: $space-xl;
            --space-xxl: $space-xxl;
            --space-xxxl: $space-xxxl;
            --space-xxxxl: $space-xxxxl;
            --space-xxxxxl: $space-xxxxxl;
            --space-xxxxxxl: $space-xxxxxxl;
        }
    }

    &_font_ys-text {
        font-family: YS Text;
        font-style: normal;
    }

    &_gap {
        &_small {
            @media screen and (max-width: $screen-xs) {
                --gap: $space-xxxl;
            }

            --gap: $space-xxxxl;

            --col-gap-full: var(--gap);
            --col-gap-half: calc(var(--gap) * 0.5);
            --col-gap-third: calc(var(--gap) * 0.33);
            --col-gap-two-thirds: calc(var(--gap) * 0.66);

            --row-gap-full: var(--gap);
            --row-gap-half: calc(var(--gap) * 0.5);
        }
    }
}
