.form {
    &__item {
        &_distribute {
            &_between {
                display: flex;
                justify-content: space-between;
            }
        }

        &_direction {
            &_column {
                display: flex;
                flex-direction: column;
            }
            &_row {
                display: flex;
                flex-direction: row;
            }
        }

        &_vertical-align_center {
            display: flex;
            align-items: center;
        }

        &_indent-b {
            &_xxl {
                margin-bottom: var(--space-xxl);
            }

            &_xxxxl {
                margin-bottom: var(--space-xxxxl);
            }

            &_xxxxxl {
                margin-bottom: var(--space-xxxxxl);
            }
        }

        &_indent-t {
            &_xs {
                margin-top: var(--space-xs);
            }
        }
    }

    &__label {
        &_width_default {
            width: 35%;
        }
    }

    &__control {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
}
