.page {
    background-color: var(--color-bg-default);
    display: grid;
    grid-template-rows: minmax(max-content, 50px) 1fr minmax(max-content, 39px);
    grid-template-columns: 1fr;
    min-height: 100vh;
}