.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 210px;
    height: 100%;
    margin: 0 auto;

    &__content {
        display: flex;
        flex-direction: column;

        &_distribute {
            &_default {
                align-items: flex-start;
            }

            &_center {
                align-items:  center;
            }

            &_between {
                align-items:  center;
                justify-content: space-between;
            }
        }

        &_space-a {
            &_xl {
                padding: var(--space-xl);
            }

            &_xxxl {
                padding: var(--space-xxxl);
            }
        }

        &_icon {
            width: 124px;
            height: 124px;
            background-size: 124px;
            margin-bottom: 30px;
        }

        &_text {
            margin-bottom: 26px;
        }
    }

    &__action {
        display: flex;

        &_distribute {
            &_default {
                justify-content: flex-start;
            }

            &_center {
                justify-content: center;
            }

            &_between {
                justify-content: space-between;
            }
        }
    }
}