@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2')
      format('woff2'),
    url('//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2')
      format('woff2'),
    url('//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2')
      format('woff2'),
    url('//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --yellow-300: #ffcc00;

  --grey-50: #f0f2f3;
  --grey-300: #e6e6e6;
  --grey-450: #d9d9d9;
  --grey-600: #b3b3b3;
  --grey-900: #7f8285;
  --grey-800: #434445;
  --grey-1000: #595959;

  --green-500: #00b341;

  --red-400: #e00000;
  --red-600: #ff3333;

  --orange-400: #ff9a00;

  /* Межстрочный интервал */
  --size-line-height-xxxxs: 15px;
  --size-line-height-xxxs: 16px;
  --size-line-height-xxs: 18px;
  --size-line-height-xs: 20px;
  --size-line-height-s: 21px;
  --size-line-height-m: 22px;
  --size-line-height-l: 25px;
  --size-line-height-xl: 28px;
  --size-line-height-xxl: 30px;
  --size-line-height-xxxl: 34px;
  --size-line-height-xxxxl: 36px;
  --size-line-height-xxxxxl: 38px;

  /*  Базовые отступы */
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 72px;
  --space-xxxxxxl: 96px;

  /* Размер текста */
  --size-text-xxs: 8px;
  --size-text-xs: 10px;
  --size-text-s: 11px;
  --size-text-m: 13px;
  --size-text-l: 15px;
  --size-text-xl: 16px;
  --size-text-xxl: 18px;
  --size-text-xxxl: 24px;

  /* Экраны */
  --screen-m: 824px;
  --screen-xs: 320px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.theme {
}

.theme_color_project-default {
  /* Цвет дефолта */
  --color-bg-default: var(--white);
  /* Цвет подвала */
  --color-bg-footer: var(--grey-50);
  /* Цвет лога */
  --color-bg-log: var(--grey-50);
  /* Цвет фона действия */
  --color-bg-action: var(--yellow-300);
  /* Цвет фона контрола */
  --color-bg-control: var(--grey-300);
  /* Цвет границ */
  --color-bg-border: var(--grey-450);
  /* Цвет границ в фокусе*/
  --color-border-focused: var(--grey-600);
  /* Цвет границ при ошибке*/
  --color-border-alert: var(--red-400);
  /* Цвет успеха */
  --color-bg-success: var(--green-500);
  /* Цвет ошибки */
  --color-bg-alert: var(--red-600);
  /* Цвет нестабильности */
  --color-bg-warning: var(--orange-400);

  /* Цвет основого */
  --text-color-primary: var(--black);
  /* Цвет второстепенного */
  --text-color-secondary: var(--grey-900);
  /* Цвет дополнительного */
  --text-color-secondary2: var(--grey-800);
  /* 2-й второстепенный цвет */
  --text-color-ghost: var(--grey-1000);
  /* Цвет успеха */
  --text-color-success: var(--green-500);
  /* Цвет ошибки */
  --text-color-alert: var(--red-600);
  /* Цвет нестабильности */
  --text-color-warning: var(--orange-400);

  /** Цвета ссылок **/
  /* Цвет основной ссылки */
  --text-color-link: var(--grey-900);
  /* Цвет ховера ссылки */
  --text-color-link-hover: var(--red-400);
}

.theme_size_default {
}

.theme_space_default {
}

.theme_font_ys-text {
  font-family: YS Text;
  font-style: normal;
}

.theme_gap_small {
  --gap: var(--space-xxxxl);

  --col-gap-full: var(--gap);
  --col-gap-half: calc(var(--gap) * 0.5);
  --col-gap-third: calc(var(--gap) * 0.33);
  --col-gap-two-thirds: calc(var(--gap) * 0.66);

  --row-gap-full: var(--gap);
  --row-gap-half: calc(var(--gap) * 0.5);
}

@media screen and (max-width: 320px) {
  .theme_gap_small {
    --gap: var(--space-xxxl);
  }
}
