.layout {
    display: flex;
    align-items: center;


    &__container {
        width: 100%;
        background-color: var(--color-bg-default);

        &_align_center {
            margin: 0 auto;
        }

        &_size {
            &_xs {
                max-width: var(--screen-xs);
            }

            &_m {
                max-width: var(--screen-m);
            }
        }

        &_space-v {
            &_xxxxl {
                padding-top: var(--space-xxxxl);
                padding-bottom: var(--space-xxxxl);
            }
        }

        &_indent-b {
            &_xxxl {
               margin-bottom: var(--space-xxxl);
            }


            &_xxxxl {
                margin-bottom: var(--space-xxxxl);
            }
        }
    }
}
