.form__input_state_alert {
  border: 2px solid var(--color-border-alert);
}

.form__input_state_alert::placeholder {
  color: var(--color-placeholder-alert);
}

.form__input_state_alert:focus::placeholder {
  color: var(--color-placeholder-focused);
}
