.text {
    &_align_center {
        text-align: center;
    }

    &_line-height {
        &_xxxxs {
            line-height: var(--size-line-height-xxxxs);
        }

        &_xxxs {
            line-height: var(--size-line-height-xxxs);
        }

        &_xxs {
            line-height: var(--size-line-height-xxs);
        }

        &_xs {
            line-height: var(--size-line-height-xs);
        }

        &_s {
            line-height: var(--size-line-height-s);
        }

        &_m {
            line-height: var(--size-line-height-m);
        }

        &_l {
            line-height: var(--size-line-height-l);
        }

        &_xl {
            line-height: var(--size-line-height-xl);
        }

        &_xxl {
            line-height: var(--size-line-height-xxl);
        }

        &_xxxl {
            line-height: var(--size-line-height-xxxl);
        }

        &_xxxxl {
            line-height: var(--size-line-height-xxxxl);
        }

        &_xxxxxl {
            line-height: var(--size-line-height-xxxxxl);
        }
    }

    &_size {
        &_xxs {
            font-size: var(--size-text-xxs);
        }

        &_xs {
            font-size: var(--size-text-xs);
        }

        &_s {
            font-size: var(--size-text-s);
        }

        &_m {
            font-size: var(--size-text-m);
        }

        &_l {
            font-size: var(--size-text-l);
        }

        &_xl {
            font-size: var(--size-text-xl);
        }

        &_xxl {
            font-size: var(--size-text-xxl);
        }

        &_xxxl {
            font-size: var(--size-text-xxxl);
        }
    }

    /*&_type {
        &_h1 {
            margin: 18px 0 24px;
        }

        &_h2 {
            margin: 45px 0 21px;
        }

        &_h3 {
            margin: 42px 0 0;
        }

        &_p {
            margin: 15px 0 21px;
        }
    }*/

    &_view {
        &_primary {
            color: var(--text-color-primary);
        }

        &_secondary {
            color: var(--text-color-secondary);
        }

        &_ghost {
            color: var(--text-color-ghost);
        }

        &_link {
            color: var(--text-color-link);
        }
    }
}
