.build-history {
   padding: 13px 25px;
   border-radius: 6px;
   box-shadow: 0 1px 1px rgba(67, 68, 69, 0.3), 0 0 1px rgba(67, 68, 69, 0.3);

   display: flex;
   justify-content: space-between;
   align-items: flex-start;

   cursor: pointer;

   @media screen and (max-width: 320px) {
      flex-direction: column;
   }

   &_data {
      @media screen and (max-width: 320px) {
         margin-left: 30px;
      }
   }

   &__status {
      align-items: flex-start;
      margin-right: 9px;
   }

   &_msg {
      text-overflow: ellipsis;
      overflow: hidden;

   }

   &__description {
      display: flex;
   }

   &__info {

   }

   &__title {
      display: flex;
      margin-bottom: 8px;

      @media screen and (max-width: 320px) {
         flex-direction: column;
      }
   }

   &__id {
      margin-right: 4px;
      @media screen and (max-width: 320px) {
         font-size: var(--size-text-xl);
      }
   }
}

.build-history:hover {
   box-shadow: 0 2px 8px rgba(67, 68, 69, 0.3), 0 0 1px rgba(67, 68, 69, 0.3);;
}

.build-history-button {
   display: flex;
   margin-bottom: 20px;

   @media screen and (max-width: 320px) {
      flex-direction: column;
   }
}