.decorator {
    &_indent-t {
        &_xs {
            margin-top: var(--space-xs);
        }
    }

    &_indent-b {
        &_s {
            margin-bottom: var(--space-s);
        }

        &_l {
            margin-bottom: var(--space-l);
        }

        &_xl {
            margin-bottom: var(--space-xl);
        }

        &_xs {
            margin-bottom: var(--space-xs);
        }
    }

    &_indent-r {
        &_xxs {
            margin-right: var(--space-xxs);
        }

        &_xs {
            margin-right: var(--space-xs);
        }

        &_s {
            margin-right: var(--space-s);
        }
    }

    &_space {
        &_s {
            padding: var(--space-s);
        }
    }

    &_space-h {
        &_m {
            padding-left: var(--space-m);
            padding-right: var(--space-m);
        }
    }

    &_space-l {
        &_xs {
            padding-left: var(--space-xs);
        }
    }
}