.icon {
    background-repeat: no-repeat;
    display: inline-block;

    &_size_s {
        width: 12px;
        height: 12px;
    }

    &_type {
        &_gear {
            background-image: url("/src/icons/gear.svg");
            background-size: 12px;
        }

        &_settings {
            background-image: url("/src/icons/settings.svg");
            background-size: 12px;
        }
    }

    &_view_brand {
        fill: var(--color-bg-control);
        color: var(--color-bg-control);
    }
}
